<!-- {% assign form_url = "https://fxo.io/m/pxq955xy" %} --> <!-- flow xo -->

<!-- Popup chat -->
<div class="popup" data-popup-id="subscribe"  style="direction:rtl;">
  <div class="close button small closeButton rounded oolm_color_1 left margin-0"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg>&nbsp;{{ site.strings.popup_close }}&nbsp;</div>
  <div class="content">
    
          <iframe src="{{ site.chatbot.subscribe_url }}" class="chatbot" allowfullscreen></iframe>
      
  </div>
</div>