<!-- Dialog "under construction" -->

<div class="dialogContainer">
  <div class="dialog hidden left bottom" data-dialog-id="login">
    <div class="close" data-dialog-action="close"></div>
    <div class="dialogContent">
      <div class="text right">
        <strong>אנחנו הולכים לפתוח את השירות בקרוב</strong>
        <h2 class="center"><i class="material-icons text-oolm_color_5">build</i></h2>
        בזמן ההרצה השירות יהיה על פי הזמנה אישית. אתם מוזמנים להירשם אם ברצונכם לקבל הזמנה
      </div>
    </div>
    <div class="hiddenContent">
      <ul>
        <li class="popupTrigger oolm_color_4 text-oolm_color_3" data-popup-id="subscribe">!אני רוצה להירשם</li>
        <li data-dialog-action="close">סגור</li>
      </ul>
    </div>
  </div>
</div>