<!-- Slide #31 -->
<section class="slide fade kenBurns fromRight" data-name="who">
  <div class="content">
    <div class="container">
      <div class="wrap">
          
        <div class="fix-12-12">
          <h1 class="ae-1">?מי אנחנו</h1>
          <div class="ae-2">
            <p>אנחנו הורים לילדים עם צרכים מיוחדים שאחרי שנים של טיפולים החליטו שהגיע זמן לטפל בבעיות שאנחנו והורים אחרים נתקלים בנסיון לתת את העתיד הטוב ביותר לילדנו</p>
          </div><p></p>
          <ul class="flex reverse right _right">
            <li class="col-1-12 right _right"></li>
            <li class="col-5-12 right _right">
              <div class="relative">
                <img width="60" class="avatar-31 ae-2 fromCenter margin-left-2" src="assets/i2/rachel-thumb.jpg" alt="Rachel Kahana-Samet"/>
                <div class="quote-31">
                  <h3 class="ae-4 margin-bottom-0">רחל כהנא סמט</h3>
                  <div class="ae-5"><p class="small">אמא לאופק ושני אחיו ונשואה לקובי</p></div>
                  <div class="ae-6"><p class="small"> אופק בן 12 ומאובחן בתסמונת נדירה ונמצא על הספקטרום האוטיסטי</p></div>
                </div>
            </li>
            <li class="col-5-12 right _right ae-1 fromRight">
              <div class="relative">
                <img width="60" class="avatar-31 ae-2 fromCenter margin-left-2" src="assets/i2/vitaly-thumb.jpg" alt="Vitaly Vainer"/>
                <div class="quote-31">
                  <h3 class="ae-4 margin-bottom-0">ויטלי ויינר</h3>
                  <div class="ae-5"><p class="small">אבא לליאור ושני אחיו ונשוי לאנה</p></div>
                  <div class="ae-6"><p class="small">ליאור בן 13 ומאובחן על הספקטרום האוטיסטי</p></div>
                </div>
            </li>
            <li class="col-1-12 right _right"></li>
          </ul>
          <div class="ae-2">
            <p></p>  
            <h2 class="ae-2"> לכל שאלה או הצעה אתם מוזמנים ליצור קשר <a href="mailto:{{ site.email }}" class="text-oolm_color_4 underline">בדוא׳׳ל</a></h2></p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/i2/b2.jpg)"></div>
</section>
