<!-- Slide 1 (#13) -->
<section class="slide autoHeight fade kenBurns zoomout oolm_color_2" data-name="{{ page.nav_tag }}">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-10-12">
          <div class="ae-2 crop">
            <h1 class="huge">{{ page.h1 }}</h1>
          </div>
          <div class="ae-2">
            <h2>{{ page.h2 }}</h2><p></p>
          </div>
          <div class="ae-2">
            <form action="{{ page.signup }}" autocomplete="off">
              <input type="submit" class="button oolm_color_4 ae-5 fromBlur rounded" name="submit" value="{{ page.action_title }}"/>
            </form>
          </div>
        </div>
                
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url({{ page.bg_image }})"></div>
</section>