<!-- Slide 3 (#61) -->
<section class="slide fade oolm_color_2 kenBurns"  data-name="solution">
  <div class="content">
    <div class="container">
      <div class="wrap">
          
        <div class="fix-12-12">
          <ul class="flex verticalTop">
            <li class="col-4-12 left ae-1">
              <img class="_side_left margin-bottom-3" src="assets/i2/physical_therapy_kid_therapist.jpg" height="auto" width="auto" alt="Kid and therapist"/>
            </li>
            <li class="col-8-12 right _right" style="margin-top:5%">
              <ul class="flex">
                <li class="col-5-10" style="float: right; overflow:auto">
                  <div class="ae-3">
                    <form action="#" autocomplete="off">
                      <input type="submit" class="button oolm_color_4 ae-5 fromBlur rounded stroke" name="submit" value="בואו נתחיל"/>
                    </form>
                  </div>
                </li>
                <li class="col-5-10">
                  <h1 class="ae-2">הפתרון שלנו</h1>
                </li>
              </ul>
              <ul class="flex grid-61 later">
                <li class="col-6-12 ae-4">
                  <i class="material-icons text-oolm_color_4">fingerprint</i>
                  <h3>מידע מותאם אישית</h3>
                  <p class="small">הנגשת המידע בצורה קלה</p>
                </li>
                <li class="col-6-12 ae-5">
                  <i class="material-icons text-oolm_color_4">people_outline</i>
                  <h3>התאמה ושידוך בין הורים למטפלים</h3>
                  <p class="small">התאמה על פי המלצות, זמינות והתמחות רלוונטית</p>
                </li>
                <li class="col-6-12 ae-6">
                  <i class="material-icons text-oolm_color_4">library_books</i>
                  <h3>בניה וניהול של תוכנית טיפולים</h3>
                  <p class="small">תוכנית טיפולים עקבית ומתואמת בין ההורים והמטפלים</p>
                </li>
                <li class="col-6-12 ae-7">
                  <i class="material-icons text-oolm_color_4">attach_money</i>
                  <h3>ניהול ההוצאות</h3>
                  <p class="small">בצורה אופטימלית תוך מימוש זכויות לטיפולים והחזרים</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/i2/b11.jpg)"></div>
</section>